@tailwind base;
@tailwind components;
@tailwind utilities;

.jumping {
  animation: naturalJump 1.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes naturalJump {
  0%, 100% {
    transform: scale(var(--current-scale)) translateY(0);
  }
  16.67% {
    transform: scale(var(--current-scale)) translateY(-6px);
  }
  33.33% {
    transform: scale(var(--current-scale)) translateY(0);
  }
  50% {
    transform: scale(var(--current-scale)) translateY(-6px);
  }
  66.67% {
    transform: scale(var(--current-scale)) translateY(0);
  }
  83.33% {
    transform: scale(var(--current-scale)) translateY(-6px);
  }
}

.emoji-wrapper {
  will-change: transform;
  transition: transform 80ms linear;
}